<div class="container mt-5">
    <div></div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© Malpani Group 2023</span>
    </div>
</footer>

<script>
    // Get the current URL path
    const path = window.location.pathname;
    // Loop through each menu item and add the active class to the corresponding item
    const menuItems = document.querySelectorAll('.navbar-nav .nav-link');
    menuItems.forEach(item => {
        if (item.getAttribute('href') === path) {
            item.classList.add('active');
        }
    });
    const dropdownItems = document.querySelectorAll('.dropdown-menu .dropdown-item');
    dropdownItems.forEach(item => {
        if (item.getAttribute('href') === path) {
            item.classList.add('active');
        }
    });
</script>


<script>
    function adjustFontSize() {
        var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

        var txtItems = document.getElementsByClassName('text-muted');
        for (var i = 0; i < txtItems.length; i++) {
            var txtItem = txtItems[i];
            if (screenWidth < 768) {
                txtItem.style.fontSize = '40px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                txtItem.style.fontSize = '30px';
            } else {
                txtItem.style.fontSize = '20px';
            }
        }
    }

    window.addEventListener('DOMContentLoaded', adjustFontSize);
    window.addEventListener('resize', adjustFontSize);
</script>