<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top"> -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #4869d6">
    <!-- style="background-color: rgb(94, 50, 175)" -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            {{!-- <div class="navbar-image-wrapper">
                <img id="imgLogo" src="/images/malpani-logo-2020.webp" width="42" height="60"
                    class="d-inline-block align-top" alt="">
            </div> --}}
            {{!-- <div style="background-color: white; padding: 2px; display: inline-block; border-radius: 3px;">
                <img id="imgLogo" src="/images/malpani-logo-2020.webp" width="42" height="60"
                    class="d-inline-block align-bottom" alt=""> rgb(235, 238, 243)
            </div> --}}

            <div style="background-color: white ; padding: 2px; display: inline-block; border-radius: 3px;">
                <img id="imgLogo" src="/images/Saleswift_logo.webp" width="300" height="60"
                    class="d-inline-block align-bottom" alt="">
            </div>

            {{!-- <span class="page-title" style="display: inline-block; vertical-align: top;"> &nbsp;Malpani
                Sales&nbsp;&nbsp;&nbsp; </span> --}}
        </a>
        <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#isEqual user.user_role "Admin" "Read" "Dealer"}}
                <li class="nav-item">
                    <a class="nav-link {{#isEqual activePage '/'}}active{{/isEqual}}" href="/">Home</a>
                </li>
                {{/isEqual}}

                {{#isEqual user.user_role "Admin" "Read"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        User Area
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="/auth/register">Register</a></li>
                        <li><a class="dropdown-item" href="/auth/reset-password">Reset Password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Users Master</a></li>
                        <li><a class="dropdown-item" href="/emp/view">Employees</a></li>
                    </ul>
                </li>
                {{/isEqual}}

                {{#isEqual user.user_role "Admin" "Read" "Support"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Masters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        {{#isEqual user.user_role "Admin" "Read"}}
                        <li><a class="dropdown-item" href="/product/view">Products</a></li>
                        <li><a class="dropdown-item" href="/customer/view">Dealers</a></li>
                        {{/isEqual}}
                        {{#isEqual user.user_role "Admin" "Read" "Support"}}
                        <li><a class="dropdown-item" href="/custTarget/view">Targets</a></li>
                        {{/isEqual}}
                        {{#isEqual user.user_role "Admin" "Read"}}
                        <li><a class="dropdown-item" href="/custTarget/upload">Import Targets</a></li>
                        <li><a class="dropdown-item" href="/custTarget/target-report">Targets Report</a></li>
                        <li><a class="dropdown-item" href="/circular/view">Circular</a></li>
                        {{/isEqual}}
                    </ul>
                </li>
                {{/isEqual}}

                {{#isEqual user.user_role "Admin" "Read" "Dealer"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dealer Area
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="/po/view">Purchase Order</a></li>
                        <li><a class="dropdown-item" href="/dealerPay/view">Dealer Payment</a></li>
                        <li><a class="dropdown-item" href="/dealerPay/view-bal">Dealer Balance</a></li>
                        <li><a class="dropdown-item" href="/custTarget/view-stock">Dealer Stock</a></li>
                        <li><a class="dropdown-item" href="/custTarget/view-sale">Dealer Sale</a></li>
                    </ul>
                </li>
                {{/isEqual}}

                {{#isEqual user.user_role "Admin" "Read" "Employee" "Account"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sales Zone
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        {{#isEqual user.user_role "Admin" "Read" "Employee"}}
                        <li><a class="dropdown-item" href="/dsrTp/view-pm">Fix Routes</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/dsr/view-pm">Work Entry</a></li>
                        <li><a class="dropdown-item" href="/dsr/post-pm">Posting</a></li>
                        <li><a class="dropdown-item" href="/dsr/report">Work Report</a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc">Locate Team</a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc2">Route Map</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/customer/view-info">Dealer Info</a></li>
                        <li><a class="dropdown-item" href="/custTarget/view-stock">Dealer Stock</a></li>
                        <li><a class="dropdown-item" href="/custTarget/view-sale">Dealer Sale</a></li>
                        <li><a class="dropdown-item" href="/vanclaim/view">Van Claim</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/consumer/view">Consumers</a></li>
                        {{/isEqual}}
                        {{#isEqual user.user_role "Admin" "Read" "Account"}}
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/dsrAc/view">Exp Posting</a></li>
                        {{/isEqual}}
                    </ul>
                </li>
                {{/isEqual}}



                {{#isEqual user.user_role "Admin" "Read" "Support" "Audit" "Account" "Bank"}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Reports
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown4">
                        {{#isEqual user.user_role "Admin" "Read" "Support" "Audit" "Bank"}}
                        <li><a class="dropdown-item" href="/dealerPay/view">Dealer Payment</a></li>
                        {{/isEqual}}
                        {{#isEqual user.user_role "Admin" "Read" "Support" "Audit" "Account"}}
                        <li><a class="dropdown-item" href="/dsr/report">Expenses</a></li>
                        <li><a class="dropdown-item" href="/dsr/report-atten">Attendance</a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc">Locate Team</a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc2">Route Map</a></li>
                        <li><a class="dropdown-item" href="/dsr/report-loc-emp">Employee Location</a></li>
                        <li><a class="dropdown-item" href="/customer/report">Dealer Info</a></li>
                        {{/isEqual}}
                    </ul>
                </li>
                {{/isEqual}}

                {{!-- <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li> --}}

            </ul>


            {{!-- <div class="d-flex">
                {{#if user.username}}
                <span class="navbar-text2" style="color:Yellow">Hi, {{user.username}}</span>
                {{else}}
                <span class="navbar-text2">Hi, Guest</span>
                {{/if}}
                <form method="POST" action="/auth/logout">
                    <button class="btn btn-outline-danger ms-3" type="submit">
                        Logout
                    </button>
                </form>
            </div> --}}


            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{#if user.username}}
                    <span class="navbar-text2" style="color:Yellow">Hi, {{user.username}}</span>
                    {{else}}
                    <span class="navbar-text2">Hi, Guest</span>
                    {{/if}}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                    <li><a class="dropdown-item" href="/auth/reset-pwd">Reset Password</a></li>
                    <li><a class="dropdown-item" href="/auth/profile">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <form method="POST" action="/auth/logout">
                                <button class="btn btn-outline-danger" type="submit" style="width: 100%;">
                                    Logout
                                </button>
                            </form>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</nav>

<script>
    function adjustFontSize() {
        var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        /*
                var imgLogo = document.getElementById('imgLogo');
                if (screenWidth < 768) {
                    imgLogo.width = '60';
                    imgLogo.height = '80';
                } else if (screenWidth >= 768 && screenWidth < 1024) {
                    imgLogo.width = '60';
                    imgLogo.height = '80';
                } else {
                    imgLogo.width = '42';
                    imgLogo.height = '60'; 
                }
        */

        var imgLogo = document.getElementById('imgLogo');
        if (screenWidth < 768) {
            imgLogo.width = '400';
            imgLogo.height = '80';
        } else if (screenWidth >= 768 && screenWidth < 1024) {
            imgLogo.width = '400';
            imgLogo.height = '80';
        } else {
            imgLogo.width = '300';
            imgLogo.height = '60';
        }

        var txtItems = document.getElementsByClassName('page-title');
        for (var i = 0; i < txtItems.length; i++) {
            var txtItem = txtItems[i];
            if (screenWidth < 768) {
                txtItem.style.fontSize = '60px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                txtItem.style.fontSize = '60px';
            } else {
                txtItem.style.fontSize = '45px'; /*45*/
            }
        }

        var navLinks = document.getElementsByClassName('nav-link');
        for (var i = 0; i < navLinks.length; i++) {
            var navLink = navLinks[i];
            if (screenWidth < 768) {
                console.log('Small screen detected');
                navLink.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                console.log('Medium screen detected');
                navLink.style.fontSize = '50px';
            } else {
                console.log('Large screen detected');
                navLink.style.fontSize = '25px'; /*25*/
            }
        }

        var navDropdowns = document.getElementsByClassName('dropdown-item');
        for (var i = 0; i < navDropdowns.length; i++) {
            var navDropdown = navDropdowns[i];
            if (screenWidth < 768) {
                navDropdown.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                navDropdown.style.fontSize = '50px';
            } else {
                navDropdown.style.fontSize = '25px'; /*25*/
            }
        }

        var navTexts = document.getElementsByClassName('navbar-text');
        for (var i = 0; i < navTexts.length; i++) {
            var navText = navTexts[i];
            if (screenWidth < 768) {
                navText.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                navText.style.fontSize = '50px';
            } else {
                navText.style.fontSize = '25px'; /*25*/
            }
        }

        var navTexts = document.getElementsByClassName('navbar-text2');
        for (var i = 0; i < navTexts.length; i++) {
            var navText = navTexts[i];
            if (screenWidth < 768) {
                navText.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                navText.style.fontSize = '50px';
            } else {
                navText.style.fontSize = '18px'; /*25*/
            }
        }

        var navBtns = document.getElementsByClassName('btn btn-outline-danger ms-3');
        for (var i = 0; i < navBtns.length; i++) {
            var navBtn = navBtns[i];
            if (screenWidth < 768) {
                navBtn.style.fontSize = '50px';
            } else if (screenWidth >= 768 && screenWidth < 1024) {
                navBtn.style.fontSize = '50px';
            } else {
                navBtn.style.fontSize = '25px'; /*25*/
            }
        }

    }

    window.addEventListener('DOMContentLoaded', adjustFontSize);
    window.addEventListener('resize', adjustFontSize);
</script>