<div class="container">

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h4 style=" margin-bottom: 20px;">Expenses Approval</h4>
    </div>

    <div class="row mb-2">
        <label for="boss_name" class="col-sm-2 col-form-label" >Team of:</label>
        <div class="col-sm-6">
            <div class="input-group">
                <input readonly type="text" class="form-control"  id="boss_name"
                    name="boss_name" value="{{bossData.boss_name}}">
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label for="month_name" class="col-sm-2 col-form-label" >Month:</label>
        <div class="col-sm-6">
            <div class="input-group">
                <input readonly type="text" class="form-control"  id="month_name"
                    name="month_name" value="{{monData.month_name}}-{{monData.year}}">
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <label for="emp_id" class="col-sm-2 col-form-label" >Employee<span
                style="color: red;">*</span></label>
        <div class="col-sm-6">
            <div class="input-group">
                <input hidden type="text" class="form-control" id="emp_id" name="emp_id" value="">
                <input readonly type="text" class="form-control"  id="emp_name" name="emp_name"
                    value="">
                <button class="btn btn-outline-info" type="button" id="btnEmp" data-bs-toggle="modal"
                    data-bs-target="#empModal">
                    <i class="bi bi-list"></i></button>
            </div>
        </div>
    </div>
    <br>

    <div class="row mb-2">
        <div class="col-sm">
            <button type="button" id="btnPopulate" class="btn btn-primary btn-lg mx-1"
                >Continue...</button>
            <a href="/" class="btn btn-secondary btn-lg mx-5">Cancel </a>
        </div>
    </div>

</div>

<script>
    const btnPopulate = document.getElementById('btnPopulate');

    btnPopulate.addEventListener("click", (event) => {
        const empID = document.getElementById('emp_id').value;
        if (!empID) {
            alert("Please enter an employee name");
            return;
        }
        const url = "/dsr/post-edit?selectedEmpID=" + empID;
        window.location.href = url;
        
    });

</script>


{{> _lov-emp}}